<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <!-- Page Header-->
    <header class="masthead">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Login</h1>
              <span class="subheading">Login here</span>
            </div>
            <div class="container mt-5">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                      <form class="p-3">
                        <div class="form-group mb-4">
                          <label for="username">Username:</label>
                          <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            required
                          />
                        </div>
                        <div class="form-group mb-4">
                          <label for="password">Password:</label>
                          <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            autocomplete="on"
                            required
                          />
                        </div>
                        <div class="d-flex justify-content-around">
                          <button type="submit" class="btn btn-primary">
                            Login
                          </button>
                          <button type="submit" class="btn btn-primary">
                            Signup
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Post preview-->
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">Login to read more..</h2>
              <h3 class="post-subtitle"></h3>
            </a>
            <p class="post-meta">
              Posted by
              <a href="#!">DriveTest centre, Kitchener</a>
              on January 27, 2024
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include('layouts/footer'); -%> <%- include('layouts/script'); -%>
  </body>
</html>
